<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}GameTracker{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">GameTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!-- Games Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Games
              </a>
              <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                <li><a class="dropdown-item" href="{% url 'all_games' %}">All Games</a></li>
                <li><a class="dropdown-item" href="{% url 'game_create' %}">New Game</a></li>
              </ul>
            </li>

            <!-- Decks Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="decksDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Decks
              </a>
              <ul class="dropdown-menu" aria-labelledby="decksDropdown">
                <li><a class="dropdown-item" href="">All Decks</a></li>
                <li><a class="dropdown-item" href="">All Owned Decks</a></li>
                <li><a class="dropdown-item" href="">New Deck</a></li>
              </ul>
            </li>

            <!-- Leaderboards Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="leaderboardsDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Leaderboards
              </a>
              <ul class="dropdown-menu" aria-labelledby="leaderboardsDropdown">
                <li><a class="dropdown-item" href="{% url 'stats' %}">Player Leaderboard</a></li>
                <li><a class="dropdown-item" href="{% url 'user_stats' pk=user.pk %}">Personal Stats</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- Profile Dropdown -->
            <li class="nav-item dropdown ms-auto">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile_detail' pk=user.pk %}">Account</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                  <form method="post" action="{% url 'logout' %}" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item" style="cursor:pointer;">Logout</button>
                  </form>
                  </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="{% url 'login' %}" class="btn btn-outline-secondary me-2">Log In</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="container mt-4">
      {% block content %}
      {% endblock content %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous"></script>
</body>

</html>